@import 'prefix.styl'
@import 'mobile/reset.styl'

@import 'mobile/layout.styl'
@import 'mobile/page.styl'
@import 'mobile/login.styl'
@import 'mobile/main.styl'
@import 'mobile/game.styl'
@import 'mobile/board.styl'
@import 'mobile/card.styl'